.footer_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer_items {
    max-width: 25%;
    font-size: 0.875rem;
}

.footer_courses li {
    padding-left: 20px;
    position: relative;
        &:before {
            font-family: FontAwesome;
            color:#86bc42;
            font-size: 0.875rem;
            font-weight: 400;
            content: "\f054";
            position: absolute;
            left: 10px;
        }
}