
.gallery_section {
    background-color: rgb(240, 242, 247);
}

.photo_gallery ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
        li {
            flex-basis: calc(33.33% - 20px);
            margin: 10px;
            position: relative;
            &:hover div {
                display: block;
            }
                // figure {
                //     // position: relative;
                //     &:hover div {
                //     display: block;
                //     }
                // }
            img {
                display: block;
            }
                // how do I center the "+"??
            div {
                position: absolute;
                top: calc(50% - 23px);
                left: calc(50% - 23px);
                height: 46px;
                width: 46px;
                display: none;
                background-color: rgb(51, 51, 51);
                border: 5px solid rgb(184, 184, 184);
                font-size: 3rem;
                color: white;
                border-radius: 50%;
                margin: auto;
                padding-top: 5px;
                    p {
                        text-align: center;
                        position: relative;
                        top:-15px;
                    }
            }
        }       
}

.photo_gallery li:nth-of-type(3n+1) {
    margin-left: 0;
}

.photo_gallery li:nth-of-type(3n+3) {
    margin-right: 0;
}

@media (max-width: 1100px) {

    .photo_gallery li:nth-of-type(2n+1) {
        margin-left: 0;
        margin-right: 10px;
    }
    .photo_gallery li:nth-of-type(2n+2) {
        margin-right: 0;
        margin-left: 10px;
    }

    .photo_gallery li {
     flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 700px){

    .photo_gallery li:nth-of-type(2n+1) {
        margin-left: 10px;
        margin-right: 10px;
    }
    .photo_gallery li:nth-of-type(2n+2) {
        margin-right: 10px;
        margin-left: 10px;
    }
}
