
// TOP HALF BEGINS
.header_top {
    background: rgb(34, 34, 33);
    min-height: 81px;
        .header_wrapper {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                max-width: 1208px;
                margin: 0 auto;
                padding: 21px 20px 21px 20px;  
            }
}

.header_top_contact {
    font-family: Montserrat;
    color: #F9F9F9;
    font-weight: 300;
    font-size: .75rem;
    display: flex;
    font-size: .75rem;
    font-weight: 300;
    width: 40%;

        .header_top_contact_items {
            display: flex;
            flex-direction: row;
                .header_top_contact_item:not(:last-of-type) {
                    padding-right: 44px;
                }
        }
}

.header_top_contact svg {
    margin-right: 10px;
}

.header_top_genius_logo {
    display: flex;
    justify-content: center;
    width: 20%;
        .header_top_genius_logo_image {
            height: 38px;
            width: 139;
        }
}

.header_top_enter {
    color: #F9F9F9;
    font-weight: 300;
    font-size: .75rem;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
     width: 40%;
         div {
            padding: 0 20px 0 20px;
         }
         a{
            transition: all .3s;
         }
         a:hover {
            color: rgb(113, 199, 59);
         }
}
// TOP HALF ENDS

// BOTTOM HALF BEGINS
.header_nav {
    padding: 28px 0 28px 0;
        > .header_nav_items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size:.875rem;
            text-transform: uppercase;
            font-family: Raleway;
            color:#212121;
            font-weight: 700;
            line-height: 1.714;
                li {
                    padding: 0 15px 0 15px;
                }
        }
}

.header_bottom {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.35);
    position: relative;
    z-index: 100;
}
// BOTTOM HALF ENDS

// // HAMBURGER NAV BEGINS
// .overlay.header_nav {
// 	display: block;
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	background: rgba(0,0,0,0.99);
// 	color: white;
// }

// .overlay ul {
// 	flex-direction: column;
// }
// .overlay ul a {
// 	font-size: 50px;
// 	text-align: center;
// 	width: 100%;
// 	padding: 30px;
// }

// .overlay .hamburger {
// 	display: block;
// 	font-size: 50px;
// 	text-align: center;
// }

.hamburger {
	display: none;
}
// // HAMBURGER NAV ENDS


// DROP-DOWN SEARCH FIELD BEGINS
input[type=checkbox]{
    display: none;
}

.search_ul {
      display: none;
}

input[type=checkbox]:checked ~ ul {
    display: block;
}

li {
      list-style: none;
}
// DROP-DOWN SEARCH FIELD ENDS

// MEDIA QUERIES
/* Media Query for hamburger nav */
// @media all and (max-width: 850px) {
// 	.hamburger {
// 		display: block;
// 		font-size: 25px;
// 	}

// 	.header_nav ul {
// 		display: none;
// 	}
	
// 	.header_nav ul.show {
// 		display: flex;
//      flex-direction: column;
// 	}

// }

@media (max-width: 800px){
    .header_top .wrapper {
        flex-direction: column;
    }

    .header_top_contact, .header_top_enter {
        width: 100%;
        justify-content: center;
        padding: 10px 0 10px 0;
    }

    .header_top_genius_logo .header_top_genius_logo_image {
        height: 40px;
    }

    .header_nav {
        padding: 0;
            > .header_nav_items {
                flex-direction: column;
                text-align: center;
                align-items: center;
                z-index: 100;
                    li:not(:last-of-type) {
                        width: 90%;
                        border-bottom: 1px solid rgb(34, 34, 33);
                    }
            }
    } 
}

// MEDIA QUERIES BEGIN
@media (max-width: 300px) {
    .header_top_contact .header_top_contact_items .header_top_contact_item:not(:last-of-type) {
                    padding-right: 30px;
    }
}