.splash {
    background-image: url(../assets/amy-hirschi-457525.jpg);
    background-size: cover;
    height: 80vh;
    min-height: 600x;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}