.section_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0 0 0;
        p {
            color:#222222;
            font-weight: 400;
            font-size: .8rem;
            line-height: 1.337;
            text-align: center;
            text-transform: uppercase;   
        }
        h2 {
            color:#222222;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            padding: 10px 0 15px 0;
            text-transform: uppercase;
        }
    }

    .trending_nav  ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
            li {
                padding: 30px 15px 30px 15px;
                transition: all .3s;
            }
            li:hover {
                color: rgb(113, 199, 59)
            }
    }

.courses > ul {
    display: flex;
    flex-wrap: wrap;
}

.course {
    flex-basis: calc(25% - 15px);
    margin: 10px;
        img {
            display: block;
            max-width: 100%;
        }
}

.course:first-of-type, .course:nth-of-type(5) {
    margin-left: 0;
}

.course:nth-of-type(4), .course:last-of-type {
    margin-right: 0;
}

    @media (max-width: 810px) {
        .section_title {
            padding: 10vw 0 10vw 0;
                h2 {
                    padding: 0 0 5vw 0;
                }
        }
        
    }
